In [1]:
# 1  Write code to reverse string
String = 'Hello World'
String[::-1]

'dlroW olleH'

In [43]:
# 2  Write code to count the number of vowels in string
String1 = 'This code is for counting the vowel.ELEPHANT'

vowel = String1.count('a') + String1.count('e') + String1.count('i') + String1.count('o') + String1.count('u') + String1.count('A') + String1.count('E') + String1.count('I') + String1.count('O') + String1.count('U')

print(vowel)

14

In [12]:
# 3 Write code to check if given string is palindrome or not .
String2 = 'Level'
if String2[:2].lower() == String2[-2:][::-1].lower() : 
    print('This string is palidrome')
else : 
    print('This string is not palidrome')

This string is palidrome

In [6]:
# 4 Write code to check if two given strings are anagrams of each other .
text1 = 'players'
text2 = 'parsley'
count = 0
for i in text1.lower() :
    if i in text2.lower():
        count += 1
if count == len(text1):
    print(f'{text1} is anagrams of {text2}')
else:
    print(f'{text1} is not anagrams of {text2}')

players is anagrams of parsley

In [15]:
# 5  Write code to find all occurrences  of a given substring within another string .
string3 = 'Write code to find all occurrences  of a given substring within another string'
substr ='string'
all_occurances_substr = string3.count(substr)
print(all_occurances_substr)

2

In [67]:
# 6 Write code to perform basic string compression using the counts of repeated character .
string4 = input("Enter any string")
count = 1
string2 = ''
for i in (range( 1,len(string4))):
    if string4[i-1] == string4[i]:
        count += 1
    elif count != 1 :
            string2 = string2 + string4[i-1] + str(count)
            print(string2)
            count = 1
    else :
            string2 = string2 + string4[i-1]
if count != 1:
      string2 = string2 + string4[-1] + str(count)
else : 
      string2 = string2 + string4[-1] 

print(string2)

Enter any word i am rahul

i am rahul

In [12]:
# 7  Write a code to determine if a string has all unique character .
Text ='rahul'
counts = 0
for i in Text:
    if Text.count(i) == 1:
        counts += 1
if counts == len(Text):
    print(f"{Text} has all unique character")
else:
     print(f"{Text} has not all unique character")

rahul has all unique character

In [14]:
# 8 Write a code to convert a given string to uppercase or lowercase
String5 = "Rahul"
lowercase = String5.lower()
uppercase = String5.upper()
print(lowercase)
print(uppercase)

rahul
RAHUL

In [17]:
# 9 Write a code to count the number of words in a string
intro = "i am a programmer"
numOf_word = len(intro.split(" "))
print(numOf_word)

4

In [70]:
# 10  Write a code to concatenate two strings without using the + operator
text1 = "i am a python"
text2 = "programmer"
print(f"{text1} {text2}")

i am a python programmer

In [2]:
# 11  Write a code to remove all occurrences of a specific element from a list
List= ['pwskills', 1,2,'hello world','pwskills',False]
element = 'pwskills'
Count = List.count(element)
for i in range(Count):
    List.remove(element)
print(List)

[1, 2, 'hello world', False]

In [7]:
# 12  Implement a code to find the second largest number in a given list of integer .
List = [200,300,400,600,6,8999,500]
First_larg= max(List)
List.remove(First_larg)
Second_larg = max(List)
print(Second_larg)

600

In [15]:
# 13  Create a code to count the occurrences of each element in a list and return a dictionary
# with elements as key and their counts as value
List1 = ['pw skill', 'rahul', 'pw skill', 'rahul', 'pw skill', 1]
dict1 ={'pw skill': 1}
for i in List1 :
    c = List1.count(i)
    if i not in list(dict1.keys()):
        dict1[i]= c

print(dict1)

pw skill
3
rahul
2
pw skill
3
rahul
2
pw skill
3
1
1
{'pw skill': 1, 'rahul': 2, 1: 1}

######

In [19]:
# 14  Write a code to reverse a list in-place without using an built-in reverse functions .
list_l = [1,2,3,'rahul','hello world',True,23.4]
reverse_list =[]
count = -1
for i in range(len(list_l)):
    reverse_list.append(list_l[count])
    count -= 1
print(reverse_list)

[23.4, True, 'hello world', 'rahul', 3, 2, 1]

In [35]:
# 15 implement a code to find and remove duplicates from a list while preserving the original order of  elements .
list_2 = [2,1,3,4,5,6,7,6,7,'pw skill','rahul','pw skill']
unique_ = [] 
for i in list_2 :
    if i not in unique_ :
        unique_.append(i)
print(unique_)

[2, 1, 3, 4, 5, 6, 7, 'pw skill', 'rahul']

In [21]:
# 16  Create a code to check if a given list in sorted (either in ascending or descending order) or not .
LIST = ['pw skill', 'rahul','rohit','data science'] 
LIST.sort()
des = 1
asc = 1
for i in range(1,len(LIST)):
    if LIST[i][0] > LIST[i-1][0]:
        asc +=1
    elif LIST[i][0] > LIST[i-1][0]:
        des +=1
    elif LIST[i][0] == LIST[i-1][0]:
        des +=1
        asc +=1
if asc == len(LIST):
    print('list sorted in ascending order')
elif des == len(LIST):
    print('list sorted in descending order')
else:
    print('list is not sorted')

list sorted in ascending order

In [33]:
#17 Write a code to merge two sorted lists into a single sorted list .
listing = [1,2,35,7,8,45]
listing1 =[3,4,5,7,8,90]
listing.sort()
listing1.sort()
merg_list = []
for x in listing:
     merg_list.append(x)
for y in listing1:
     merg_list.append(y)
merg_list.sort()
print(merg_list)

[1, 2, 3, 4, 5, 7, 7, 8, 8, 35, 45, 90]

In [40]:
# 18 Implement a code to find the intersection of two given list .
list_11 = [1,2,3,5,6,'pw skill',78,'rahul', True, False]
list_12 =[3,4,5,78,'pw skill',True,'rohit',6,10]
intersect_list =[]
for i in list_11:
    for y in list_12:
        if i == y:
            intersect_list.append(i)
print(intersect_list)

[1, 3, 5, 6, 'pw skill', 78, True]

In [41]:
# 19  Create a code to find the union of two lists without duplicate .
list_13 = [1,2,3,5,89,'pwskill' ,'rahul',4,2,5]
list_14 =[2,3,4,6,89,'rahul','datascience',11]
union= []
for x in list_13:
    if x not in union:
        union.append(x)
for y in list_14:
    if y not in union:
        union.append(y)
print(union)

[1, 2, 3, 5, 89, 'pwskill', 'rahul', 4, 6, 'datascience', 11]

In [6]:
# 20  Write a code to shuffle a given list randomly without using an built-in shuffle functions 
list_15 = ['banana', 'apple','orange', 'grapes','mongo']
import random
for i in range(len(list_15)):
    indx = random.randint(0,len(list_15))
    fruit = list_15.pop(indx-1)
    list_15.append(fruit)
print(list_15)

['apple', 'orange', 'mongo', 'grapes', 'banana']

In [5]:
# 21 Write a code that takes two tuples as input and returns a new tuple containing elements that are 
# common to both input tuple .
input1 = input("1st tuple as input seperated by commas")
input2 = input("1st tuple as input seperated by commas")
tuple_1 = tuple(input1.split(","))
tuple_2 = tuple(input2.split(","))
input2 = ()
common_tup = ()
for x in tuple_1:
    for y in tuple_2:
        if x == y :
            common_tup +=  (x,) 
print(common_tup)

1st tuple as input seperated by commas 1,2,3,4,5,6,7
1st tuple as input seperated by commas 3,4,5,6,7,87,9

3
4
5
6
7
('3', '4', '5', '6', '7')

In [3]:
# 22  Create a code that prompts the user to enter two sets of integers separated by  commas. Then, print the 
#intersection of these two sets .
input_1 = input("1st sets of integers separated by  commas")
input_2 = input("1st sets of integers separated by  commas")
set_1 = set(input_1.split(","))
set_2 = set(input_2.split(","))
intrsec_sets = set_1 & set_2
print(intrsec_sets)

1st sets of integers separated by  commas 1,2,3,4,5
1st sets of integers separated by  commas 2,3,4,7,8

{'2', '3', '4'}

In [2]:
# 23  Write a code to concatenate two tuples. The function should take two tuples as input and return a new 
# tuple containing elements from both input tuples.
def concate(tup1,tup2):
    """this function takes two tuple as a argument 
    return : concatenate of these two tuple"""
    return tup1+tup2
concate((1,2,3,4,5),(3,4,5,6,7))

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [4]:
# 24  Develop a code that prompts the user to input two sets of strings. Then print the elements that are 
#present in the first set but not in the second sets
input_11 = input("input 1st set of word")
input_12 = input("input 2nd set of word")
set_11 =set(input_11.split(" "))
set_12 =set(input_12.split(" "))
for i in set_11:
    if i not in set_12:
        print(i) # return element of set_11 which  is not present in set_12

input 1st sets of strings rahul robin pwskill is
input 2nd sets of strings rahul robin

pwskill
is

In [10]:
# 25 Create a code that takes a tuple and two integers as input . The function should return a new tuple 
 #containing elements from the original tuple within the specified range of indices .
def specified(tuple1,ind1,ind2):
    """ this function takes one tuple as a argument tuple1 and
    two integer to define indices range as a argument ind1,ind2
    return: new tuple within the specified range of inices from tuple1"""
    newtuple = tuple1[ind1:ind2]
    return newtuple
specified((2,4,5,6,7),2,4)

(5, 6)

In [13]:
# 26  Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.
input_13 = input("enter multiple of characters separated by space")
input_14 = input("enter 2nd multiple characters separated by space")
set_13 = set(input_13.split(" "))
set_14 = set(input_14.split(" "))
union_sets = set_13 | set_14
print(union_sets)

enter multiple of characters 1 r t y u h j
enter 2nd multiple characters 1 2 r g h j k

{'u', 'g', '2', 'r', 't', '1', 'j', 'k', 'y', 'h'}

In [34]:
# 27 Develop a code that takes a tuple of integers as input. The function should return the maximum and 
# minimum values from the tuple using tuple unpacking.
def tuple_11(tup):
    tup_1 = tuple(sorted(tup))
    (min1 ,*rest,max1) = tup_1
    return f"min value is {min1} and maximun value is {max1}"
tuple_11((1,2,3,4,5,6,7,8))

'min value is 1 and maximun value is 8'

In [42]:
# 28 Create a code that defines two sets of integers. Then print the union intersection and difference of these two sets .
setst = {1,2,35,6,7,'pw skill','rahul','data science',True,False, 4.0}
setnd = {2,35,7,8,9,'generative','pw skill',True,4.0}
union = setst | setnd
intersection = setst & setnd
difference = setst - setnd
print(f"Union of given two set is :{union} \nintersection of given two set is :{intersection} \ndifference of given two set is :{difference}")

Union of given two set is :{False, 1, 2, 4.0, 6, 7, 8, 9, 'pw skill', 'data science', 'generative', 35, 'rahul'}
intersection of given two set is :{True, 2, 35, 4.0, 7, 'pw skill'}
difference of given two set is :{False, 'rahul', 6, 'data science'}

In [43]:
# 29  Write a code that takes a tuple and an element as input. The function should return the count of occurrences 
#of the given element in the tuple.
def count_Occurence(tuple1,el):
    """this function takes tuple as a argument tuple1 and elements as a argument el
    return: counts of element el in tuple1"""
    count = tuple1.count(el)
    return count

3

In [47]:
#30 Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets.
input_15 = input("input 1st multiple of word")
input_16 = input("input 2nd multiple of word")
set_15 =set(input_15.split(" "))
set_16 =set(input_16.split(" "))
symmetric_diff = set_15 ^ set_16
print(f"the symmetric difference is: {symmetric_diff}")

input 1st multiple of word rahul is developer and bussiness
input 2nd multiple of word robin is bussiness

the symmetric difference is: {'developer', 'robin', 'and', 'rahul'}

In [3]:
# 31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words 
# and the values are the frequencies of those words in the input list .
list_word = [1,3,4,55,6,7,1,1,1,3,4,"pw skill", 'rahul',7,9]
dict_ = {}
for i in set(list_word):
    dict_[i]=list_word.count(i)
print(dict_)

{1: 4, 3: 2, 4: 2, 6: 1, 7: 2, 9: 1, 'rahul': 1, 55: 1, 'pw skill': 1}

In [22]:
# 32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are 
#common keys the values should be added together .
dict_1 = {1 : "rahul",2:"ayush",3:"abhishek",4:"aashish", 6:4}
dict_2 = {5: "data science",1:"pw skill" ,6:1}
for i in dict_1:
    if i in dict_2:
        dict_2[i] = dict_1[i] , dict_2[i]
    else:   
         dict_2[i]=dict_1[i]
print(dict_2) #merge dict_1 in dict_2

{5: 'data science', 1: ('rahul', 'pw skill'), 6: (4, 1), 2: 'ayush', 3: 'abhishek', 4: 'aashish'}

In [11]:
# 33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as
#input and return the corresponding values If any of the keys do not exist in the dictionary the function should return None .
dict_3 = {1:'pw skill', 2: {1:"rahul",2:"ayush",3:"robin"}}
dict_3[2][1] # --> access a value in a nested dictionary

def dict_key(dictionary,key):
    if key in dictionary.keys():
        return {key : dictionary[key]}
    else:
         return "none"
dict_key({1:'pw skill', 2: {1:"rahul",2:"ayush",3:"robin"}},1)

{1: 'pw skill'}

In [19]:
# 34  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You 
#  can choose whether to sort in ascending or descending order
dict_12 = {1:"rahul", 2:"pwskill",4:"data sicence",5:"machine learning"}
sorted_dict ={} # --> this  dictonary is sorted in  ascending order
for i in sorted(dict_12.values()):
    for j in dict_12.keys():
        if dict_12[j]==i:
            sorted_dict[j]=i
print(sorted_dict)

{4: 'data sicence', 5: 'machine learning', 2: 'pwskill', 1: 'rahul'}

In [26]:
# 35 Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary 
# correctly handles cases where multiple keys have the same value be storing the keys as a list in the inverted dictionary
dict_13 = {1:"rahul",2:"pw skill",3:"pw skill",4:"data science",5:"machine learning",6:"rahul"}
inverted_dict = {}
for key ,value in dict_13.items():
    if value in inverted_dict.keys():
        inverted_dict[value]= [inverted_dict[value],key]
    else:
        inverted_dict[value]=key
print(inverted_dict)

{'rahul': [1, 6], 'pw skill': [2, 3], 'data science': 4, 'machine learning': 5}